<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Data Type</th>
      <th>Username</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>User ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of githubUsers | async">
      <td class='github-user-id'>{{user.id}}</td>
      <td class='data-type'>{{user.type}}</td>
      <td class='github-user-username'>{{user.attributes.username}}</td>
      <td class='created-at'>{{user.attributes.createdAt | date}}</td>
      <td class='updated-at'>{{user.attributes.updatedAt | date}}</td>
      <td class='user-id'>{{user.attributes.userId}}</td>
    </tr>
  </tbody>
</table>