Backend Testing

<ul>
<li><a id="test-user-endpoints-link" routerLink="test-user-endpoints">Test User Endpoints</a></li>
<li><a id="test-github-repository-endpoints-link" routerLink="test-github-repository-endpoints">Test Github Repository Endpoints</a></li>
<li><a id="test-github-user-endpoints-link" routerLink="test-github-user-endpoints">Test Github User Endpoints</a></li>
<li><a id="test-bot-endpoints-link" routerLink="test-bot-endpoints">Test Bot Endpoints</a></li>
<li><a id="test-match-endpoints-link" routerLink="test-match-endpoints">Test Match Endpoints</a></li>
</ul>

In progress:

<ul>
    <li>
        <ul>
            <li>update match endpoint</li>
            <li>next match endpoint</li>
        </ul>
    </li>
</ul>

TODO:

<ul>
    <li>match details endpoint</li>
</ul>

<router-outlet></router-outlet>