Backend Testing

<ul>
<li><a id="test-user-endpoints-link" routerLink="test-user-endpoints">Test User Endpoints</a></li>
<li><a id="test-github-repository-endpoints-link" routerLink="test-github-repository-endpoints">Test Github Repository Endpoints</a></li>
<li><a id="test-github-user-endpoints-link" routerLink="test-github-user-endpoints">Test Github User Endpoints</a></li>
<li><a id="test-bot-endpoints-link" routerLink="test-bot-endpoints">Test Bot Endpoints</a></li>
<li><a id="test-match-endpoints-link" routerLink="test-match-endpoints">Test Match Endpoints</a></li>
<li><a id="test-match-instance-endpoints-link" routerLink="test-match-instance-endpoints">Test Match Instance Endpoints</a></li>
<li><a id="test-rock-paper-scissors-round-endpoints-link" routerLink="test-rock-paper-scissors-round-endpoints">Test Rock Paper Scissors Round Endpoints</a></li>
<li><a id="test-match-participation-endpoints-link" routerLink="test-match-participation-endpoints">Test Match Participation Endpoints</a></li>
</ul>

<router-outlet></router-outlet>