<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Match Type</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of matches | async">
      <td class="match-id">{{ match.id }}</td>
      <td class="data-type">{{ match.type }}</td>
      <td class="match-type">{{ match.attributes.type }}</td>
      <td class="match-status">{{ match.attributes.status }}</td>
      <td class="created-at">{{ match.attributes.createdAt | date }}</td>
      <td class="updated-at">{{ match.attributes.updatedAt | date }}</td>
    </tr>
  </tbody>
</table>