Test Match Endpoints

<a id="test-next-match-endpoint-link" routerLink="test-next-match-endpoint">Test Next Match Endpoint</a>
<a id="test-match-list-endpoint-link" routerLink="test-match-list-endpoint">Test Match List Endpoint</a>
<a id="test-match-details-endpoint-link" routerLink="test-match-details-endpoint">Test Match Details Endpoint</a>

<a id="test-update-match-to-cancelled-link" routerLink="test-update-match-endpoint/MatchCancelled">Test Cancel Match</a>
<a id="test-update-match-to-pending-link" routerLink="test-update-match-endpoint/MatchPending">Test Update Match to Pending</a>

<router-outlet></router-outlet>