<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Username</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr class="user" *ngFor="let user of users | async">
      <td class="user-id">{{ user.id }}</td>
      <td class="data-type">{{ user.type }}</td>
      <td class="user-username">{{ user.attributes.username }}</td>
      <td class="user-active">{{ user.attributes.active }}</td>
      <td class="created-at">{{ user.attributes.createdAt | date }}</td>
      <td class="updated-at">{{ user.attributes.updatedAt | date }}</td>
    </tr>
  </tbody>
</table>